html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: hidden
}

#content {
    height: 100%;
}

#side-nav-container {
    height: 100%;
    z-index: 1;
    list-style: none;
}

#side-nav {
    height: 60%;
    width: 100%;
}

#side-nav li {
    background: rgba(255, 20, 20, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#side-nav li:hover {
    background: dodgerblue;
    color: #fff;
}

#side-nav li:hover .black-text {
    color: #fff;
}

.nav-bar-text {
    font-size: 1.3em;
}

#home-tab,
#about-tab,
#experience-tab,
#projects-tab,
#skills-tab,
#interests-tab,
#contact-tab {
    height: 13%;
}

#home-toggle,
#about-toggle,
#experience-toggle,
#projects-toggle,
#skills-toggle,
#interests-toggle,
#contact-toggle {
    line-height: 70px;
}

#landing-page {
    height: 100%;
    z-index: 0;
}

#headline {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 2.5em;
    z-index: 1;
}

#about-me-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 2 !important;
}

#experience-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: yellow;
    z-index: 2 !important;
}

#projects-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    z-index: 2 !important;
}

#skills-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: orange;
    z-index: 2 !important;
}

#interests-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: 2 !important;
}

#contact-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: pink;
    z-index: 100 !important;
}

.stars {
    background: #000 url(http://res.cloudinary.com/dz9yrk0yr/image/upload/v1451159541/stars_aydndz.png) repeat top center;
    z-index: 0;
}


/*backup-url: http://www.script-tutorials.com/demos/360/images/twinkling.png */

.twinkling {
    background: transparent url(http://res.cloudinary.com/dz9yrk0yr/image/upload/v1451159541/twinkling_yvha6w.png) repeat top center;
    z-index: 0;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 16.666667%;
    width: 83.333333%;
    height: 100%;
    display: block;
    z-index: -1;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}