html {
    height: 100%;
    background-color: #273E47;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#content {
    height: 100%;
}

#side-nav-container {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: #273E47;
    /*  #79A9D1;
        ;*/
}

#side-nav {
    height: 60%;
    width: 100%;
}

#side-nav li {
    background: rgba(255, 20, 20, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#side-nav li:hover {
    background: dodgerblue;
    color: #fff;
}

#side-nav li:hover .black-text {
    color: #fff;
}

.nav-bar-text {
    font-size: 1.3em;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

#home-tab,
#about-tab,
#experience-tab,
#projects-tab,
#skills-tab,
#interests-tab,
#contact-tab {
    height: 13%;
}

#home-toggle,
#about-toggle,
#experience-toggle,
#projects-toggle,
#skills-toggle,
#interests-toggle,
#contact-toggle {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#landing-page {
    position: relative;
    height: 100%;
    z-index: 0;
    background-color: #273E47;
}

#headline {
    position: relative;
    /*    margin: 300px auto;*/
    font-size: 3.5em;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sub-headline {
    font-size: 0.9em;
    font-family: 'Satisfy', cursive;
}

#name-headline {
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
}

.landing-page-icon i {
    background: rgba(255, 20, 20, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.landing-page-icon i:hover {
    color: aquamarine;
}

#footer {
    position: absolute;
    width: 150px;
    bottom: 0;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    left: 50%;
    right: 25%;
    margin-left: -75px;
}

#about-me-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #177E89;
    z-index: 2 !important;
}

#about-me {
    height: 100%;
}

#summary {
    margin-top: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#experience-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #62929E;
    /*        #FF715B; #666A86*/
    z-index: 2 !important;
    overflow-y: auto;
}

#experience {
    margin-top: 50px;
}

.experience-block {
    margin-bottom: 40px;
}

#work-column {
    padding-top: 40px;
    padding-left: 30px;
}

#volunteer-column {
    padding-left: 30px;
}

#volunteer-header {
    padding-bottom: 30px;
    font-family: 'Nunito', sans-serif;
}

.experience-text {
    padding-left: 20px !important;
}

.experience-description {}

.job-title {
    text-align: left;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.job-sub-title {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.job-position {
    color: black;
    font-weight: 100;
}

.job-description {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.job-reqs {
    list-style: circle !important;
}

.job-tile {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto !important;
}

.job-image {
    height: 120px;
    width: 120px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ubc-tile {
    height: 170px;
    width: 150px;
    background-color: #0B3954;
    border-radius: 5px;
    margin: 0 auto !important;
}

#ubc-pic {
    height: 140px;
    width: 120px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#projects-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #39393A;
    z-index: 2 !important;
    overflow-y: auto;
}

#projects {
    overflow-y: hidden;
    overflow-x: hidden;
}

.project-card {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 40px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-img {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.text-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.text-area::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

#home-safe {
    background-color: #502F4C;
}

#tutor-me {
    background-color: #235789;
}

#geo-pix {
    background-color: #3EC300;
}

#my-cfl {
    background-color: #8B1E3F;
}

#mind-the-gap {
    background-color: #1B98E0;
}

#lets-chill {
    background-color: #DDA15E;
}

#skills-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #84DCCF;
    z-index: 2 !important;
}

#interests-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #63B0CD;
    z-index: 2 !important;
}

#contact-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #523F38;
    z-index: 100 !important;
}

.stars {
    background: #000 url(http://res.cloudinary.com/dz9yrk0yr/image/upload/v1451159541/stars_aydndz.png) repeat top center;
    z-index: 0;
}


/*backup-url: http://www.script-tutorials.com/demos/360/images/twinkling.png */

.twinkling {
    background: transparent url(http://res.cloudinary.com/dz9yrk0yr/image/upload/v1451159541/twinkling_yvha6w.png) repeat top center;
    z-index: 0;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}


/* Heart pulse */

.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse2 {
    0% {
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes "pulse2" {
    0% {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1500px) {
    #projects {
        margin-left: 90px;
    }
}

@media (min-width: 995px) and (max-width: 1300px) {
    #projects {
        margin-left: -40px;
    }
}